<nav>
	<p><a href="https://github.com/go-fed/apcore/example">Example apcore App</p>
	<ul>
		{{range .Nav}}
		<li><a href="{{.Href}}">{{.Name}}</a></li>
		{{end}}
		{{if .User}}
		<li><a href="/followers/requests">followers requests</a></li>
		<li><a href="/following/create">create following</a></li>
		<li><a href="/notes/create">create note</a></li>
		<li><a href="/logout">logout</a></li>
		<p>Hi, {{.User}}!</p>
		{{else}}
		<li><a href="/login">login</a></li>
		{{end}}
	</ul>
</nav>
